{% spaceless %}
<!doctype html>
<html lang="{{ site.lang }}" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="{% if site.robots.allow_indexing %}index{% else %}noindex,nofollow{% endif %}">
    <title>{{ site.domain.name ~ ' ' ~ site.domain.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme_path('assets/plugins/spectre/css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ theme_path('assets/css/landing.css') }}">
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{{ theme_path('assets/plugins/feather/js/feather-4.7.3.min.js') }}"></script>
    <script>feather.replace()</script>
</body>
</html>
{% endspaceless %}
